.GlassMini {
  margin-left: 0%;
}
.image {
  z-index: -1;
  transition: transform ease 900ms;
  width: 70%;
}
.info {
  position: relative;
  background: rgba(219, 0, 0, 1);
  width: 50%;
  height: 75px;
  margin-right: 25%;
  text-align: left;
  border-radius: 5px;
  padding: 5px;
  top: -50px;
  transition: transform ease 900ms;
}
.info:hover {
    background: linear-gradient(45deg, #FF0909 0%, #131313 51%);
    transform: scale(1.5);
}
h1 {
  font-size: 14px;
  font-weight: normal;
  margin-top: -2px;
  padding: 0px;
  color: white;
}
