.navbar {
  height: 75px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  top: 0;
  background-color: #242424;
  z-index: 10000;
}
.basket {
  width: 30px;
  margin-left: 10px;
  margin-right: 5px;
}
.hr {
  width: 2px;
  height: 50%;
  border-radius: 1px;
  margin-left: 5px;
  margin-top: 20px;
  border-color: none;
  background-color: #505050;
  color: none;
}
.user {
  width: 30px;
  margin-left: 5px;
}
.use {
  margin-top: 25px;
}
.bas{
  margin-top: 25px;
}
.left {
  display: flex;
  float: left;
  width: -moz-fit-content;
  width: fit-content;
}

.brands {
  height: 60px;
  margin-top: 10px;
  margin-left: 10%;
}
.brand_text {
  color: aliceblue;
  margin-top: 25px;
}
.brbutton {
  display: flex;
}

.dropdown {
  position: relative;
  display: flex;
  margin-left: 5%;
}

.brline {
  width: 3px;
  height: 110px;
  background-color: #db0000;
  transform: rotate(90deg);
  margin-top: 18px;
  margin-left: -45px;
  visibility: hidden;
}
.dropdown:hover .brline {
  visibility: visible;
}

.dropdown_content {
  font-family: "Antic";
  display: none;
  position: absolute;
  width: 250px;
  z-index: 1;
  padding: 0px;
}

.dropdown:hover .dropdown_content {
  display: flex;
  margin-top: 75px;
  background-color: #242424;
  color: white;
}

.first_col {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.sec_col {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.col {
  text-align: center;
  font-size: 25px;
  color: white;
  text-decoration: none;
  padding-bottom: 10px;
  padding-top: 10px;
}
.col:hover {
  background-color: #535353;
}

.right {
  display: flex;
  position: absolute;
  direction: rtl;
  width: -moz-fit-content;
  right: 0;
  width: fit-content;
  margin-right: 10px;
}

.homepage {
  float: right;
  position: absolute;
  right: 10px;
  font-family: "Antic";
  font-size: 50px;
  color: #db0000;
  margin-top: 10px;
  font-weight: normal;
}

.searchbox {
  width: 90%;
  height: 45px;
  margin-top: 10px;
  border-radius: 10px;
  direction: rtl;
  font-family: "IranSans";
  font-size: 16px;
  padding: 5px;
  border: none;
  background-color: #e2e2e2;
}
.searchbox:focus{
  outline: none;
  background-color:#ffffff;
}
.search {
  width: 30px;
}
.searchbutt {
  position: absolute;
  background-color: transparent;
  border: none;
  margin-top: 20px;
  margin-right: -45px;
  z-index: 100;
}

.search_container {
  position: absolute;
  right: 220px;
  width: 50%;
  height: 75px;
  display: flex;
  flex-direction: column;
  direction: rtl;
}

@media only screen and (max-width: 900px) {
  .homepage {
    font-size: 35px;
    margin-top: 15px;
  }
  .search_container {
    right: 160px;
    width: 40%;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    top: 0;
    width: 100%;
  }
  .homepage {
    position: fixed;
    font-size: 25px;
    margin-top: 25px;
    text-align: center;
    width: 30%;
    margin-right: calc(40% - 30px);
  }
  .use{
    position: absolute;
    right: 5%;
  }
  .search_container {
    margin-top: 75px;
    width: 100%;
    right: 0;
    background-color: #242424;
  }
  .searchbox{
    width: 90%;
    margin-right: 5%;
    height: 40px;
  }
  .search{
    width: 20px;
    margin-top: 5px;
  }
  .brand_text {
    visibility: hidden;
  }
  .hr {
    visibility: hidden;
  }
  .dropdown {
   visibility: hidden;
  }
}
