.GlassMini {
  display: grid;
  grid-template-columns: 25% 75%;
  direction: rtl;
  align-items: center;
  width: 100%;
  border: 3px solid #535353;
  border-radius: 10px;
  padding: 2%;
  margin-top: 30px;
}
.image {
  display: grid;
  width: 100%;
  grid-column: 1/2;
  border-radius: 10px;
}
.info {
  display: grid;
  grid-column: 2/2;
  text-align: left;
  font-size: 45px;
  direction: ltr;
}
.delete{
  display: flex;
  border: 3px solid #535353;
  direction: ltr;
  width: 70px;
  border-radius: 10px;
  height: 35px;
}
.delete p{
  font-size: 14px;
  margin-right: 5px;
  margin-left: 10px;
  color: red;
  margin-top: 7px;
}
.delete img{
  width: 15px;
}
@media only screen and (max-width: 600px) {
  .image{
    width: 40%;
    margin-top: 2%;
    border-radius: 5px;
  }
  .GlassMini{
    border-radius: 5px;
  }
}
