.container {
  width: 30%;
  margin-left: 35%;
  text-align: center;
  margin-top: 50px;
  border: 3px solid #db0000;
  border-radius: 10px;
  padding: 20px;
}
.form {
  text-align: right;
}
.box {
  width: 70%;
  margin-right: 27%;
  border: none;
  border-bottom: 3px solid #535353;
  background: none;
  color: #535353;
  font-size: 25px;
  font-weight: normal;
  font-family: "Antic";
  margin-top: -10px;
}
.box:focus {
  border: none;
  outline: none;
  border-bottom: 3px solid #db0000;
  color: white;
}
input:-webkit-autofill {
  font-size: 25px;
  font-weight: normal;
  font-family: "Antic";
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #535353 !important;
}
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  font-size: 25px;
  font-weight: normal;
  font-family: "Antic";
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white !important;
}
.btn{
    font-family: 'IranSans';
    width: 110px;
    height: 40px;
    background: none;
    color: white;
    border: 2px solid #DB0000;
    border-radius: 8px;
    margin-top: 30px;
    margin-right: 75%;
}