code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Antic'; /*a name to be used later*/
  src: url("../src/assets/AGENCYR.TTF"); /*URL to font*/
}

@font-face {
  font-family: 'IranSans'; /*a name to be used later*/
  src: url("../src/assets/IRANSans.ttf"); /*URL to font*/
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'IranSans', 'Antic';
}
