.btn {
  background: none;
  border: none;
  display: flex;
  margin-top: 50px;
}
.btntxt {
  font-family: "Antic";
  font-size: 30px;
  color: #eb1b1b;
  margin-top: 5px;
  margin-left: -20px;
  width: 100px;
}
.txt {
  font-family: "Antic";
  font-size: 30px;
  color: white;
  margin-top: 2px;
  margin-left: 15px;
}
.btnimg {
  width: 45px;
  height: 45px;
}
.body {
  z-index: 1;
  margin-left: 32.5%;
  display: block;
  margin-top: 30px;
  width: 35%;
  padding: 10px;
  padding-top: 0px;
  border-radius: 20px;

  background: linear-gradient(
    180deg,
    rgba(40, 46, 52, 0.4) 0%,
    rgba(40, 46, 52, 0.1) 75%
  );
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border: 0.5px solid white;
}

.bacy {
  position: absolute;
  margin-top: 20px;
  margin-bottom: -600px;
  margin-left: 30%;
  z-index: -100;
  width: 150px;
  height: 150px;
  border-radius: 200px;
  background: linear-gradient(121.65deg, #ff3307 -1.51%, #DB0000 94.85%);
  animation: wave 10s linear infinite;
  filter: blur(7px);
}
@keyframes wave {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(200px, 250px);
  }
  50% {
    transform: translate(200px, 0px);
  }
  75% {
    transform: translate(0px, 250px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.bacx {
  position: absolute;
  margin-top: -130px;
  margin-left: 60%;
  z-index: -100;
  width: 250px;
  height: 250px;
  border-radius: 200px;
  background: linear-gradient(121.65deg, #ff3307 -1.51%, #DB0000 94.85%);
  filter: blur(7px);
}

@media only screen and (max-width: 600px) {
  .body{
    width: calc(80% - 20px);
    margin-left: 10%;
    margin-top: 100px;
    background: none;
    border: none;
  }
  .txt{
    font-size: 20px;
    margin-top: 10px;
  }
  .btntxt{
    font-size: 20px;
    margin-left: -50px;
    margin-top: 10px;
  }
  .bacx{
    display: none;
  }
  .bacy{
    display: none;
  }
}